:root {
    --white-trans: oklch(100% 0 0 / 0.9);
}

body {
  margin: 0;
  padding: 5%;
  background-image: url(terrain.png);
  background-repeat: repeat;
  font-family: Hermit-Regular, sans-serif;
  font-size: 1rem;
}

@font-face {
  font-family: Hermit-Regular;
  src: url("Hermit-Regular.otf") format("opentype");
}

#container {
  column-width: 16rem;
}

#key {
  display: flex;
  justify-content: end;
  margin-bottom: 1.25rem;
}

.card {
  break-inside: avoid;
  padding: 0;
  margin-bottom: 1.25rem;
  border: 1px solid var(--white-trans);
  --hue: 200;
  --accent-color: oklch(75% 0.11 var(--hue) / 0.9);
  backdrop-filter: blur(0.2rem);
}

.card-body ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 1.25rem;
}

.card a:link,
.card a:visited {
  color: var(--accent-color);
}

.card-body {
  color: var(--white-trans);
  padding: .625rem;
}

.card-header {
  display: block;
  color: oklch(0% 0 0 / 0.9);
  background-color: var(--white-trans);
  border: 0;
  border-bottom: 4px solid var(--accent-color);
  padding: .625rem;
}

/* https://www.digitalocean.com/community/tutorials/css-collapsible */
input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  cursor: pointer;
}

.lbl-toggle::before { /* CSS Arrow */
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--white-trans);
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  padding: 0;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}
