body {
    margin: 0;
    padding: 10%;
    padding-top: 5%;
    background-color: #222222;
    font-family: Hermit-Regular, sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: Hermit-Regular;
    src: url("Hermit-Regular.otf") format("opentype");
}

#container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.card {
  break-inside: avoid;
  border: 2px solid #ccc;
  color: #aaa;
  padding: 10px;
  margin-bottom: 20px;
}
