body {
    margin: 0;
    padding: 10%;
    padding-top: 5%;
    background-color: hsl(0,0%,15%);
    font-family: Hermit-Regular, sans-serif;
    font-size: 1rem;
    --highlight: oklch(100% 0% 0);
}

@font-face {
    font-family: Hermit-Regular;
    src: url("Hermit-Regular.otf") format("opentype");
}

#container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.card {
  break-inside: avoid;
  color: hsl(0,0%,20%);
  background-color: hsl(0,0%,20%);
  border: 1px solid var(--highlight);
  padding: 0;
  margin-bottom: 1.25rem;
  min-height: 9.375rem;
}

.header {
    display: block;
    background-color: var(--highlight);
    padding: .625rem;
}
